<mat-toolbar class="draggable" color="primary">
	Elasper
	<span class="spacer"></span>
	<button mat-icon-button class="non-draggable" [matMenuTriggerFor]="menu" style="margin-left: 15px"><mat-icon>more_vert</mat-icon></button>
	<div *ngIf="framelessControls" class="frameless-controls">
		<div class="divider"></div>
		<button mat-icon-button class="non-draggable" (click)="minimize()"><mat-icon>remove</mat-icon></button>
		<button mat-icon-button class="non-draggable" (click)="maximize()"><mat-icon>check_box_outline_blank</mat-icon></button>
		<button mat-icon-button class="non-draggable" (click)="close()"><mat-icon>close</mat-icon></button>
	</div>
	<mat-menu #menu="matMenu" class="non-draggable">
		<button mat-menu-item (click)="openSettingsDialog()">
			<mat-icon>settings</mat-icon>
			Settings
		</button>
		<button mat-menu-item (click)="openAboutDialog()">
			<mat-icon>help</mat-icon>
			About
		</button>
	</mat-menu>
</mat-toolbar>