<mat-toolbar class="draggable" color="primary">
  {{title}}
  <span class="spacer"></span>
  <button mat-icon-button (click)="openAbout()">
    <mat-icon>help</mat-icon>
  </button>
  <button mat-icon-button (click)="openSettings()">
    <mat-icon>settings</mat-icon>
  </button>
  <div *ngIf="framelessControls" class="frameless-controls">
		<div class="divider"></div>
		<button mat-icon-button (click)="minimize()"><mat-icon>remove</mat-icon></button>
		<button mat-icon-button (click)="maximize()"><mat-icon>check_box_outline_blank</mat-icon></button>
		<button mat-icon-button (click)="close()"><mat-icon>close</mat-icon></button>
  </div>
</mat-toolbar>