<h2 mat-dialog-title>Settings</h2>
<mat-dialog-content>
	<div>
		<mat-input-container>
			<input matInput placeholder="Save Location" [(ngModel)]="settings.saveLocation" (change)="updateSettings()">
		</mat-input-container>
		<button mat-raised-button (click)="browseForSaveLocation()">Browse</button>
	</div>
	<mat-select placeholder="Image Type" [(ngModel)]="settings.imageType" (change)="updateSettings()">
		<mat-option *ngFor="let imageType of imageTypes" [value]="imageType.value">
			{{imageType.viewValue}}
		</mat-option>
	</mat-select>
</mat-dialog-content>