/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    -webkit-user-select: none;
    margin: 0px;
    font-family: "Roboto";
}

p {
    cursor: default;
}

.spacer {
    flex: 1 1 auto;
}

.draggable {
    -webkit-app-region: drag;
}

.non-draggable {
    -webkit-app-region: no-drag;
}