<h1 mat-dialog-title>Settings</h1>
<mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Save Location" [(ngModel)]="settings.saveLocation" readonly>
  </mat-form-field>
  <button mat-raised-button (click)="browseSaveLocation()">Browse</button>
  <mat-form-field>
    <mat-select placeholder="Image Type" [(ngModel)]="settings.imageType">
      <mat-option *ngFor="let imageType of imageTypes" [value]="imageType">
        {{imageType}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="saveSettings()" cdkFocusInitial>Save</button>
</mat-dialog-actions>